@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+2:wght@400;500;600;700;800&family=Gurajada&family=Jaldi:wght@400;700&family=Keania+One&family=Racing+Sans+One&family=Sora:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 40px;
  padding-top: 130px;
}
header {
  position: fixed;
  padding-top: 25px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px 2px #0000003e;
}
header h1 {
  color: #013a65;
  text-align: center;
  font-family: Keania One;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header img {
  width: 60px;
  margin-right: 5px;
}
form {
  display: flex;
  width: 50%;
  padding: 2%;
  margin-right: 50px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.25);
  max-width: 450px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #fff;
}
select {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #005b92;
  background: #f9f9f9;
  transition: 300ms border;
  padding-left: 5px;
  font-weight: bold;
}

input[type="number"] {
  width: 60%;
  border-radius: 10px;
  border: 2px solid #005b92;
  background: #f9f9f9;
  transition: 300ms border;
  font-size: 0.9rem;
  padding: 4px 10px;
}

button {
  display: flex;
  width: 205px;
  height: 52px;
  padding: 3px 54px;
  justify-content: center;
  align-items: center;
  gap: 22px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #005b92;
  color: #fff;
  text-align: center;
  font-family: Gurajada;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 200ms;
}
button:active {
  background-color: #013a65;
}
button:hover {
  background-color: #055688;
}
span {
  color: #004a77;
  text-align: center;
  font-family: Gurajada;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form div {
  width: 100%;
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: #000;
  text-align: center;
  font-family: Gurajada;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:focus,
select:focus {
  border-width: 4px;
  outline: none;
  caret-color: #013a65;
}
#output {
  width: 50%;
}
@media (max-width: 780px) {
  body {
    flex-direction: column;
    padding: 10px;
    padding-top: 70px;
    /* padding-bottom: 100px; */
  }
  form {
    margin: 50px 0;
    width: 80%;
  }
  #output {
    width: 90%;
    margin-bottom: 50px;
  }
}
